<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>791543641860-ri1vi62cil6nh05ttrlu63q6eqtcs92o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.791543641860-ri1vi62cil6nh05ttrlu63q6eqtcs92o</string>
	<key>API_KEY</key>
	<string>AIzaSyDHjPLL9PN7M-JA3k4tCecDoB_NUAJzpB8</string>
	<key>GCM_SENDER_ID</key>
	<string>791543641860</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.prite.AR-Present</string>
	<key>PROJECT_ID</key>
	<string>arpresent-eb0a5</string>
	<key>STORAGE_BUCKET</key>
	<string>arpresent-eb0a5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:791543641860:ios:1734a02b0a1455fc828251</string>
	<key>DATABASE_URL</key>
	<string>https://arpresent-eb0a5.firebaseio.com</string>
</dict>
</plist>